@media (max-width: 820px){
    .slider-1 img{
      width: 100%;
    }
    .slider-2 img{
        width: 100%;
      }
    .slide-1 .txt-centrado-img
    {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .slide-2 .txt-centrado-img
    {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .img-slider .slide .info{
      padding: 10px 25px;
    }
  
    .img-slider .slide .info h2{
      font-size: 35px;
    }
  
    .img-slider .slide .info p{
      width: 70%;
      font-size: 15px;
    }
  
    .img-slider .navigation{
      bottom: 25px;
    }
  
    .img-slider .navigation .btn{
      width: 10px;
      height: 10px;
      margin: 8px;
    }
    .slidesjs-previous{
        padding-left: 350px;
    }
    #img
    {
    width: 100%;
    transition: all 500ms ease;
    }
  }
  
  @media (max-width: 620px){
    .img-slider{
      width: 400px;
      height: 250px;
    }
    .slide-1 .txt-centrado-img
    {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .slide-2 .txt-centrado-img
    {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .img-slider .slide .info{
      padding: 10px 20px;
    }
  
    .img-slider .slide .info h2{
      font-size: 30px;
    }
  
    .img-slider .slide .info p{
      width: 80%;
      font-size: 13px;
    }
  
    .img-slider .navigation{
      bottom: 15px;
    }
  
    .img-slider .navigation .btn{
      width: 8px;
      height: 8px;
      margin: 6px;
    }
    .slidesjs-previous{
        padding-left: 250px;
    }
    #img
    {
    width: 100%;
    max-width: 200px;
    transition: all 500ms ease;
    }
  }
  
  @media (max-width: 420px){
    .img-slider{
      width: 100%;
    }
  
    .img-slider .slide .info{
      padding: 5px 10px;
    }
  
    .img-slider .slide .info h2{
      font-size: 25px;
    }
  
    .img-slider .slide .info p{
      width: 90%;
      font-size: 11px;
    }
  
    .img-slider .navigation{
      bottom: 10px;
    }
    .slidesjs-previous{
        padding-left: 150px;
    }
    .slide-1 .txt-centrado-img
    {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .slide-2 .txt-centrado-img
    {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .col-md-4{
      justify-content: center;
      align-items: center;
      padding-left: 20%;
    }
    .col{
      padding-bottom: 10px;
    }
    .section{
      justify-content: center;
      align-items: center;
    }
  }